<a href="https://colab.research.google.com/github/Marcos-Tonari-Diaz/Desafio_Bain_2022/blob/development/Datathon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Loading

In [3]:
import pandas as pd

In [4]:
historical_database = pd.read_csv("historical-database.csv", sep=';', parse_dates=)

In [5]:
historical_database

             year         city_code product_type    product destinated_area,
0      01/01/1974  960b4f2c94a2fb2c    temporary     Others               0,
1      01/01/1974  746cc42bfb8f6b62    temporary     Others               0,
2      01/01/1974  6cce2bf873870afc    temporary     Others               0,
3      01/01/1974  4de42e351006a2ae    temporary     Others               0,
4      01/01/1974  5b6072f8f6d37acc    temporary     Others               0,
...           ...               ...          ...        ...              ...
73739  01/01/2013  74d75dde6dc4a5ec      pasture  Livestock      150866,5644
73740  01/01/2014  74d75dde6dc4a5ec      pasture  Livestock       152446,396
73741  01/01/2015  74d75dde6dc4a5ec      pasture  Livestock      154681,0205
73742  01/01/2016  74d75dde6dc4a5ec      pasture  Livestock      164706,2778
73743  01/01/2017  74d75dde6dc4a5ec      pasture  Livestock      165220,8728

[73744 rows x 5 columns]

In [6]:
historical_database.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73744 entries, 0 to 73743
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   year              73744 non-null  object
 1   city_code         73744 non-null  object
 2   product_type      73744 non-null  object
 3   product           73744 non-null  object
 4   destinated_area,  73744 non-null  object
dtypes: object(5)
memory usage: 2.8+ MB

In [7]:
historical_database.describe(include="all")

              year         city_code product_type product destinated_area,
count        73744             73744        73744   73744            73744
unique          44               144            3      11             7160
top     01/01/1996  960b4f2c94a2fb2c    temporary  Others                ,
freq          1712               517        43824   12584            39035